<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<dom-module id="frontproyecto-app">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <!-- Con corchetes el valor es one-ways y un cambio no afecat al componente -->
    <h2>Hello [[prop1]]!</h2>
    <h2>Hola soy [[first_name]] [[last_name]]</h2>
    <h2> y tengo [[age]]  años </h2>
    <!-- Con llaves el valor es two-ways y afecta al componente -->
    <input type="text" value="{{first_name::input}}"/>
    <input type="range" min="10" value={{age::input}} max="100"/> 
   </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class FrontproyectoApp extends Polymer.Element {
      static get is() { return 'frontproyecto-app'; }
      static get properties() {
        return {
          prop1: {
            type: String,
            value: 'peña del mundo!'
          },
          first_name: {
            type: String,
            value: 'David'
          },
          last_name: {
            type: String,
            value: 'García Gómez'
          },
          age: {
            type: String,
            value: '12'
          }
        };
      }
    }

    window.customElements.define(FrontproyectoApp.is, FrontproyectoApp);
  </script>
</dom-module>
