<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="login-usuario">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <div class="container">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h2 class="col-md-12">Login Usuario</h2>
        </div>
        <div class="panel-body">

          <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
            <input type="email" placeholder="Enter email" class="form-control col-md-2" value={{email::input}} required>
          </div>
          <br>
          <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
            <input type="password" placeholder="Enter password" class="form-control col-md-2" value={{password::input}} required>
          </div>
        </div>
          <div class="panel-footer">
            <button class="btn btn-success Large" on-click="login" >login</button>
          </div>
      </div>
    </div>

    <span hidden$="{{!isLogged}}" >Error durante el logon</span>

    <iron-ajax
      id="doLogin"
      url="http://localhost:3000/apitechu/v2/login"
      handle-json = "json"
      on-response="manageAJAXResponse"
      content-type = "application/json"
      method="POST"
      on-error = "showError"
    >

   </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class LoginUsuario extends Polymer.Element {
      static get is() { return 'login-usuario'; }
      static get properties() {
        return {
          email: {
            type: String
          },
          password: {
            type: String
          },
          isLogged: {
            type : Boolean,
            value : false
          }
        };
      }

      login () {
        console.log("haciendo login");
        var loginData = { "email" : this.email, "password" : this.password }
        this.$.doLogin.body = JSON.stringify(loginData);
        this.$.doLogin.generateRequest();
        console.log("Peticion realizada");
      }

      manageAJAXResponse ( data ) {
        console.log("Recibida repuesta del servidor");
        console.log(data.detail.response);
      }

      showError ( error ) {
        console.log("hubo un error:");
        console.log(error);
        this.isLogged = true;
      }
    }

    window.customElements.define(LoginUsuario.is, LoginUsuario);
  </script>
</dom-module>
