<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="visor-cuentas">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <div class="row">
      <h1 class="col-md-12">Visor de las cuentas</h1>
      <h2 class="col-md-12">Soy el usuario con id <input size="3" type="text" value="{{id::input}}" >, [[first_name]] [[last_name]]</h2>
      <h2 class="col-md-6">Mi cuenta es: [[iban]]</h2>
      <h2 class="col-md-6"> con balance: €[[balance]]€</h2>
    </div>

    <iron-ajax
      auto=""
      id="getUser"
      url="http://localhost:3000/apitechu/v2/users/{{id}}"
      handle-json = "json"
      on-response="showUser"
    />

    <iron-ajax
      auto=""
      id="getAccount"
      url="http://localhost:3000/apitechu/v2/{{id}}/accounts"
      handle-json = "json"
      on-response="showAccount"
    />
   </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class VisorCuentas extends Polymer.Element {
      static get is() { return 'visor-cuentas'; }
      static get properties() {
        return {
          id: {
            type: String,
            value : 2
          },
          first_name: {
            type: String
          },
          last_name: {
            type: String
          },
          iban: {
            type: String
          },
          balance: {
            type: String
          }
        };
      }
      showUser ( data ){
          if (this.id !=  ""){
            //console.log(data);
            //console.log(data.detail.response);
            console.log(data.detail.response[0].first_name);
            console.log(data.detail.response[0].last_name);

            this.first_name = data.detail.response[0].first_name;
            this.last_name = data.detail.response[0].last_name;
          };
      }
      showAccount ( data ){
          //console.log(data);
          console.log(data.detail.response);
          console.log(data.detail.response.iban);
          console.log(data.detail.response.balance);

          this.iban = data.detail.response.iban;
          this.balance = data.detail.response.balance;
      }
    }

    window.customElements.define(VisorCuentas.is, VisorCuentas);
  </script>
</dom-module>
