<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="visor-usuario">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <div class="row">
      <h1 class="col-md-12">Visor Usuario del Id [[id]]</h1>
      <h2 class="col-md-5">Soy el usuario [[first_name]] [[last_name]]</h2>
      <h2 class="col-md-5"> y mi email3es [[email]]</h2>
    </div>

    <iron-ajax
      auto=""
      id="getUser"
      url="http://localhost:3000/apitechu/v2/users/{{id}}"
      handle-json = "json"
      on-response="showData"
    />

   </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class VisorUsuario extends Polymer.Element {
      static get is() { return 'visor-usuario'; }
      static get properties() {
        return {
          id: {
            type: String
          },
          first_name: {
            type: String
          },
          last_name: {
            type: String
          },
          email: {
            type: String
          }
        };
      }
      showData ( data ){
          if (this.id !=  ""){
            //console.log(data);
            //console.log(data.detail.response);
            console.log(data.detail.response[0].first_name);
            console.log(data.detail.response[0].last_name);
            console.log(data.detail.response[0].email);

            this.email = data.detail.response[0].email;
            this.first_name = data.detail.response[0].first_name;
            this.last_name = data.detail.response[0].last_name;
          };
      }
    }

    window.customElements.define(VisorUsuario.is, VisorUsuario);
  </script>
</dom-module>
